:root {
    --button-hover-bg-color: rgb(123, 123, 123);
    --button-number-bg-color: rgb(218, 218, 218);
    --button-operator-bg-color: rgb(100, 94, 150);
    --button-operator-highlight-color: rgb(128, 64, 57);
    --button-other-bg-color: rgb(33, 29, 71);
    --button-shadow-color: rgb(139, 135, 135);
    --button-primary-font-color: rgb(218, 218, 218);
    --button-number-font-color: rgb(48, 48, 48);
    --display-surround-color: rgb(204, 202, 198);
    --display-bg-color: rgb(172, 170, 166);
    --display-font-color: rgb(65, 65, 65);
    --calcBody-color: rgb(57, 52, 107);
    --body-color: rgb(43, 34, 10);
}

body {
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    justify-content: center;
}

    .flex-container {
        width: 400px;
        height: 640px;
        margin: 20px 0px;
        padding: 20px;
        background-color: var(--calcBody-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .displays-container {
        width: 100%;
        height: 150px;
        background-color: var(--display-surround-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        .display-row {
            width: 90%;
            height: 35px;
            padding: 8px;
            color: var(--display-font-color);
            background-color: var(--display-bg-color);
            text-align: end;
            overflow: hidden;
            text-overflow: ellipsis;
            align-content: center;
            font-size: 30px;
        }

    .buttons-container {
        box-sizing: border-box;
        width: 100%;
        height: 500px;
        padding: 32px 8px 8px 8px;
        background-color: var(--calcBody-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .button-row {
            height: 100%;
            background-color: var(--calcBody-color);
            display: flex;
            align-content: center;
            justify-content: center;
        }

            button {
                width: 25%;
                margin: 6px 2px;
                
                flex: 1 1 75px;
                font-size: 24px;
                outline: none;
                border: none;
                border-radius: 20px;
                
                cursor: pointer;
                box-shadow: 0 9px var(--button-shadow-color);
            }




button.clear, .special {
    color: var(--button-primary-font-color);
    background-color: var(--button-other-bg-color);
}

button.operator, .equals {
    color: var(--button-primary-font-color);
    background-color: var(--button-operator-bg-color);
}

button.number {
    color: var(--button-number-font-color);
    background-color: var(--button-number-bg-color);
}

button:hover {
    background-color: var(--button-hover-bg-color)
}

button:active,
button.active {
    transform: scale(0.95) translateY(4px);
    background-color: darkgray;
    box-shadow: 0 5px var(--button-shadow-color);
  }

button.highlighted {
    background-color: var(--button-operator-highlight-color);
}

.grid div:nth-child(1) {
    grid-column: span 4;
}
  
.grid div:nth-child(2) {
    grid-column: span 4;
}
