:root {
    --button-hover-bg-color: rgb(123, 123, 123);
    --button-number-bg-color: rgb(218, 218, 218);
    --button-operator-bg-color: rgb(100, 94, 150);
    --button-operator-highlight-color: rgb(128, 64, 57);
    --button-other-bg-color: rgb(33, 29, 71);
    --button-shadow-color: rgb(139, 135, 135);
    --button-primary-font-color: rgb(218, 218, 218);
    --button-number-font-color: rgb(48, 48, 48);
    --display-surround-color: rgb(204, 202, 198);
    --display-bg-color: rgb(172, 170, 166);
    --display-font-color: rgb(65, 65, 65);
    --calcBody-color: rgb(57, 52, 107);
    --body-color: rgb(43, 34, 10);
}

body {
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    justify-content: center;
}

    .flex-container {
        width: 400px;
        min-width: 215px;
        height: 600px;
        margin: 20px 0px;
        padding: 20px;
        background-color: var(--calcBody-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .displays-container {
        width: 100%;
        height: 250px;
        padding-bottom: 24px;
        background-color: var(--display-surround-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0px;
    }

        /* .displays-container > div {
            min-width: 90%;
            height: 40px;
            padding: 8px;
            color: var(--display-font-color);
            background-color: var(--display-surround-color);
            text-align: end;
            overflow: hidden;
            text-overflow: ellipsis;
            align-content: center;
            font-size: 30px;
        } */

            .solar-row {
                min-width: 90%;
                height: 40px;
                padding: 8px;
                background-color: var(--display-surround-color);
                align-content: center;
            }

                #solar-panel {
                    width: 40%;
                    height: 35px;
                    justify-self: center;
                    align-self: center;
                    background-color: var(--button-other-bg-color);
                }

            .logo-row,
            .display-row {
                min-width: 90%;
                height: 40px;
                padding: 8px;
                color: var(--display-font-color);
                background-color: var(--display-surround-color);
                align-content: center;
                font-size: 30px;
            }

            .logo-row {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

                #name-logo,
                #model-logo {
                    width: 100%;
                    height: 20px;
                    color: var(--button-other-bg-color);
                    text-align: start;
                    justify-content: center;
                    align-content: center;
                    font-size: 8px;
                }

                #model-logo {
                    font-size: 20px;
                    text-align: end;
                }

            .display-row {
                margin: 0px;
                padding: 0px;
                font-size: 36px;
                text-overflow: ellipsis;
                align-content: center;
                position: relative;
            }

                #upperDisplay,
                #lowerDisplay {
                    width: 100%;
                    max-width: 360px;
                    min-height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background-color: var(--display-bg-color)
                }

                #upperDisplay {
                    align-content: center;
                    font-size: 24px;
                }

    .buttons-container {
        box-sizing: border-box;
        width: 100%;
        height: 350px;
        padding: 32px 8px 8px 8px;
        background-color: var(--calcBody-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .button-row {
            height: 100%;
            background-color: var(--calcBody-color);
            display: flex;
            align-content: center;
            justify-content: center;
        }

            button {
                width: 25%;
                margin: 6px 2px;
                flex: 1 1 75px;
                font-size: 24px;
                outline: none;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 0 9px var(--button-shadow-color);
            }


                button.clear,
                .special {
                    color: var(--button-primary-font-color);
                    background-color: var(--button-other-bg-color);
                }

                #rand {
                    font-size: 16px;
                }

                button.operator,
                .equals {
                    color: var(--button-primary-font-color);
                    background-color: var(--button-operator-bg-color);
                }

                button.number {
                    color: var(--button-number-font-color);
                    background-color: var(--button-number-bg-color);
                }

                button:hover {
                    background-color: var(--button-hover-bg-color)
                }

                button:active,
                button.active {
                    transform: scale(0.95) translateY(4px);
                    background-color: darkgray;
                    box-shadow: 0 5px var(--button-shadow-color);
                }

                button.highlighted {
                    background-color: var(--button-operator-highlight-color);
                }
